:root {
  --color-text: #252525;
  --color-back: #ffffff;
  --color-accent-one: #ff6f6f;
  --color-accent-two: #4fe4c4;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  user-select: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  background-color: var(--color-back);
  display: flex;
  align-items: center;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btns-container__btn {
  font-size: clamp(2rem, 6vmin, 3rem);
  color: var(--color-text);
  background-color: var(--color-back);
  position: relative;
  overflow: hidden;
}

.btns-container__btn.accent {
  color: var(--color-accent-one);
  font-size: clamp(3rem, 7vmin, 4.5rem);
}

.btns-container__btn.equal {
  background-color: var(--color-accent-one);
  color: var(--color-back);
}

.btns-container__btn img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(124, 124, 124, 0.35);
  pointer-events: none;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (orientation: landscape) {
  .checkbox {
    grid-column: 2 / 3;
  }
}

.checkbox__dark {
  display: flex;
}

.checkbox__switch input {
  display: none;
}

.checkbox label {
  margin-top: 1.4vmin;
  margin-inline: 1rem;
}

@media (orientation: landscape) {
  .checkbox label {
    margin-top: 0.65vmin;
  }
}

.checkbox__text {
  font-size: clamp(2rem, 6vmin, 2.5rem);
  color: var(--color-text);
}

.checkbox__voice {
  display: flex;
}

.checkbox__switch {
  display: inline-block;
  width: 4rem;
  /*=w*/
  height: 2rem;
  /*=h*/
  position: relative;
}

.checkbox__slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 3rem;
  box-shadow: 0 0 0 2px var(--color-text), 0 0 4px var(--color-text);
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.4s;
}

.checkbox__slider:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--color-text);
  border-radius: 3rem;
  transform: translateX(-2rem);
  /*translateX(-(w-h))*/
  transition: 0.4s;
}

.checkbox input:checked + .checkbox__slider:before {
  transform: translateX(2rem);
  /*translateX(w-h)*/
  background-color: var(--color-accent-one);
}

.checkbox input:checked + .checkbox__slider {
  box-shadow: 0 0 0 2px var(--color-accent-one), 0 0 8px var(--color-accent-one);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: clamp(3rem, 6vmin, 6rem);
  grid-row-gap: clamp(1.25rem, 3vmin, 4.5rem);
  margin: 0 auto;
  grid-template-rows: 5% 30% 65%;
  padding: 7vmin 5vmin;
  max-width: 90rem;
  width: 100%;
  max-height: 60rem;
  height: 100%;
}

@media (min-width: 900px) and (min-height: 600px) {
  .container {
    border: 5px solid var(--color-accent-one);
    border-radius: 0.5rem;
    box-shadow: var(--color-accent-one) 0px 10px 15px -10px;
  }
}

@media (orientation: landscape) {
  .container {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 5% 15% 80%;
  }
}

.btns-container {
  position: relative;
  place-self: center;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: grid;
  grid-gap: 0.2rem;
  padding: 0.2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.btns-container__light {
  background: radial-gradient(ellipse at center, rgba(122, 122, 122, 0.5) 0%, rgba(122, 122, 122, 0) 50%);
  position: absolute;
  width: 45vmin;
  height: 45vmin;
  z-index: -1;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.display {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--color-text);
  border-bottom: 1px solid rgba(124, 124, 124, 0.1);
}

@media (orientation: landscape) {
  .display {
    grid-row: 1 / 3;
  }
}

.display__operation {
  font-size: clamp(1rem, 4vmin, 2rem);
}

.display__value {
  font-size: 9vmin;
  font-size: clamp(1rem, 9vmin, 5rem);
  font-weight: 800;
}

.side-panel {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  flex-direction: row;
  justify-content: space-between;
  display: none;
}

@media (orientation: landscape) {
  .side-panel {
    display: flex;
  }
}

.side-panel input[type='radio'] {
  display: none;
}

.side-panel input[type='radio']:checked + label {
  background-color: var(--color-accent-one);
  color: var(--color-back);
}

.side-panel label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 6vmin, 2.5rem);
  color: var(--color-text);
  height: 100%;
  width: 100%;
}

.side-panel__history-div {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  color: var(--color-text);
  visibility: hidden;
  flex-direction: column-reverse;
  justify-content: space-between;
  display: none;
}

.side-panel__history-div.visible {
  visibility: visible;
}

@media (orientation: landscape) {
  .side-panel__history-div {
    display: flex;
  }
}

.side-panel__history-text {
  font-size: clamp(1rem, 4vmin, 1.5rem);
  text-align: right;
}

.side-panel__game-div {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  visibility: hidden;
  display: none;
}

.side-panel__game-div.visible {
  visibility: visible;
}

@media (orientation: landscape) {
  .side-panel__game-div {
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */