:root {
  //White mode
  // --color-text: #252525;
  // --color-back: #ffffff;

  // Black mode
  --color-text: #ffffff;
  --color-back: #252525;

  // --color-accent: #01c498;
  --color-accent: #4fe4c4;
  // --color-accent-transparent: rgba(79, 228, 196, 0.15);
}
