.btns-container {
  position: relative;
  // align-self: center;
  place-self: center;

  // grid-column: 2 / 3;
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  display: grid;
  // margin-top: auto;
  // margin: 2rem auto;
  // height: 50vh;
  // height: 70vh;
  grid-gap: 0.2rem;
  padding: 0.2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  // padding-block: 10rem;
  // margin-bottom: 1rem;
  overflow: hidden;

  // width: 100%;
  // height: 100%;

  // width: clamp(3rem, 100%, 60rem);
  width: 100%;
  height: 100%;

  // z-index: 4;
  // display: none;
  // visibility: hidden;
  // width: 10rem;

  &__light {
    // background: radial-gradient(
    //   ellipse at center,
    //   rgba(var(--color-text), 0.5) 0%,
    //   rgba(var(--color-text), 0) 50%
    // );

    // @media not screen and (hover: none) {

    // background: radial-gradient(
    //   ellipse at center,
    //   rgba(#4fe4c4, 0.5) 0%,
    //   rgba(#4fe4c4, 0) 50%
    // );
    background: radial-gradient(
      ellipse at center,
      rgba(#7a7a7a, 0.5) 0%,
      rgba(#7a7a7a, 0) 50%
    );
    // background: radial-gradient(
    //   ellipse at center,
    //   rgba(#ffffff, 0.5) 0%,
    //   rgba(#ffffff, 0) 50%
    // );

    position: absolute;
    width: 45vmin;
    height: 45vmin;
    z-index: -1;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);

    // @media (hover: none) and (pointer: coarse) {
    //   display: none;
    //   background: none;
    // }
  }
}
