.btns-container {
  position: relative;
  place-self: center;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: grid;
  grid-gap: 0.2rem;
  padding: 0.2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  overflow: hidden;
  width: 100%;
  height: 100%;

  &__light {
    background: radial-gradient(
      ellipse at center,
      rgba(#7a7a7a, 0.5) 0%,
      rgba(#7a7a7a, 0) 50%
    );
    position: absolute;
    width: 45vmin;
    height: 45vmin;
    z-index: -1;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
