.container {
  // height: 100%;
  // display: flex;
  // margin: 0 auto;
  // border: 1px solid red;
  // flex-direction: column;
  // justify-content: space-evenly;
  // grid-gap: 1rem;
  // align-items: flex-start;
  // justify-items: center;
  // align-content: center;

  display: grid;
  // width: 10rem;
  grid-template-columns: 1fr min-content 1fr;
  // grid-template-columns: 1fr minmax(40px, 400px) 1fr;
  // grid-template-rows: 25vh 65vh;
  grid-template-rows: 5vh 25vh 65vh;
  margin-top: 2.5vh;
  // margin: 0 auto;
  // max-width: 30rem;
}
