.container {
  // height: 100%;
  // display: flex;
  // margin: 0 auto;
  // border: 1px solid red;
  // flex-direction: column;
  // justify-content: space-evenly;
  // grid-gap: 1rem;
  // align-items: flex-start;
  // justify-items: center;
  // align-content: center;

  display: grid;
  // width: 10rem;
  // grid-template-columns: 1fr min-content 1fr;
  grid-template-columns: 1fr;

  grid-gap: 2vmin;
  margin: 0 auto;

  // place-self: center;
  // place-items: center;
  // grid-template-columns: 1fr minmax(40px, 400px) 1fr;
  // grid-template-rows: 25vh 65vh;

  grid-template-rows: 5% 30% 65%;
  padding: 7vmin 5vmin;

  // box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  // box-shadow: var(--color-accent-one) 0px 20px 30px -10px;
  // grid-template-rows: 5vh 25vh 65vh;
  // margin-top: 2.5%;
  // margin: 0 auto;
  // max-width: 30rem;

  max-width: 90rem;
  // width: clamp(20rem, 100%, 90rem);
  width: 100%;
  max-height: 60rem;
  height: 100%;
  // height: 10rem;

  @media (min-width: 900px) and (min-height: 600px) {
    border: 5px solid var(--color-accent-one);
    border-radius: 0.5rem;
    box-shadow: var(--color-accent-one) 0px 10px 15px -10px;
  }

  @media (orientation: landscape) {
    // grid-template-columns: 1fr 3fr 2fr 1fr;
    // grid-template-columns: 1fr 3fr 2fr 1fr;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 5% 15% 80%;
  }
}
