.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: clamp(3rem, 6vmin, 6rem);
  margin: 0 auto;
  grid-template-rows: 10% 25% 65%;
  padding: 5vmin;
  max-width: 90rem;
  width: 100%;
  max-height: 60rem;
  height: 100%;

  @media (orientation: landscape) {
    grid-template-rows: 5% 30% 65%;
  }
  @media (min-width: 900px) and (min-height: 600px) {
    border: 5px solid var(--color-accent-one);
    border-radius: 0.5rem;
    box-shadow: var(--color-accent-one) 0px 10px 15px -10px;
  }

  @media (orientation: landscape) {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 5% 15% 80%;
  }
}
