.display {
  // height: 25vmin;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: flex-end;
  // margin-right: 10vw;
  // grid-column: 2 / 3;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  // justify-self: end;
  // align-self: center;
  // align-items: center;
  // text-align: right;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  // justify-content: space-between;
  // align-items: center;
  align-items: flex-end;
  // padding-bottom: 0;
  // margin-bottom: 1rem;

  // width: clamp(3rem, 100%, 60rem);

  color: var(--color-text);

  border-bottom: 1px solid rgba(124, 124, 124, 0.1);

  // border-bottom: 1px solid rgba(var(--color-accent-one), 0.5);
  @media (orientation: landscape) {
    grid-row: 1 / 3;
  }

  // margin-bottom: 1vmin;
  // border-bottom: 1px solid #d8d8d8;
  // margin-bottom: 5rem;

  // @media (orientation: landscape) {
  //   grid-column: 1 / 2;
  // }

  &__operation {
    // font-size: 4vmin;
    font-size: clamp(1rem, 4vmin, 2rem);

    // @media (orientation: landscape) {
    //   grid-column: 2 / 3;
    // }
  }
  &__value {
    font-size: 9vmin;
    font-size: clamp(1rem, 9vmin, 5rem);

    font-weight: 800;
  }
}
