.side-panel {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: none;

  @media (orientation: landscape) {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr 1fr;
  }

  input[type='radio'] {
    display: none;

    &:checked + label {
      background-color: var(--color-accent-one);
      border-bottom: 0.2rem solid var(--color-back);
      color: var(--color-back);
    }
  }

  label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 9 / 11;
    font-size: clamp(2rem, 6vmin, 2.5rem);
    color: var(--color-text);
  }

  &__history-div {
    grid-row: 1 / 9;
    grid-column: 1 / 3;
    color: var(--color-text);
    visibility: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;

    &.visible {
      visibility: visible;
    }

    display: none;
    @media (orientation: landscape) {
      display: flex;
    }
  }

  &__history-text {
    font-size: clamp(1rem, 4vmin, 1.5rem);
    text-align: right;
  }

  &__game-div {
    grid-row: 1 / 9;
    grid-column: 1 / 3;
    visibility: hidden;
    display: none;

    @media (orientation: landscape) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &.visible {
      visibility: visible;
    }
  }

  &__game-text {
    font-size: clamp(2rem, 5vmin, 4rem);
    font-weight: 800;
    text-align: right;
    color: var(--color-text);
    text-align: center;

    &.guess {
      display: none;
      text-align: center;
    }

    &.score {
      display: none;
    }

    &.top-five {
      font-size: clamp(1rem, 4vmin, 2.5rem);
      text-align: left;
    }
  }

  &__bar {
    height: 2vmin;
    width: 100%;
    background: var(--color-accent-one);
    display: none;
    transition: width 1s linear;
  }

  &__high-scores {
    width: 100%;
  }

  &__top-score {
    display: flex;
    font-size: clamp(1rem, 4vmin, 2rem);
    color: var(--color-text);

    p {
      width: 50%;
      padding-inline: 1rem;
    }
  }

  &__player-name {
    text-align: center;
    align-self: center;
  }

  &__player-score {
    text-align: right;
    align-self: center;
  }

  &__btn {
    background-color: var(--color-accent-one);
    color: var(--color-back);
    margin: 0 auto 1.5rem;
    font-size: clamp(2rem, 6vmin, 2.5rem);
    padding: 1vmin 1.5vmin;
  }
}
