.side-panel {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  // flex-wrap: wrap;
  // flex-direction: row;
  // justify-content: space-between;

  display: none;
  @media (orientation: landscape) {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr 1fr;
    // place-items: center;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    // height: 100%;
    // margin: 1rem;
    // padding: 1.5rem;
  }
  // &__tabs {
  //   grid-row: 2 / 3;
  // }
  input[type='radio'] {
    display: none;

    &:checked + label {
      background-color: var(--color-accent-one);
      border-bottom: 0.2rem solid var(--color-back);

      color: var(--color-back);
    }
  }

  label {
    cursor: pointer;
    // align-self: stretch;
    // place-self: center;
    // place-items: center;

    display: flex;
    justify-content: center;
    align-items: center;

    // flex: 1;
    // width: 50%;

    grid-row: 9 / 11;
    font-size: clamp(2rem, 6vmin, 2.5rem);
    color: var(--color-text);
    // display: inline-block;
    // margin-top: 20%;
    // height: 100%;
    // width: 100%;
  }

  &__history-div {
    grid-row: 1 / 9;
    grid-column: 1 / 3;
    // align-self: stretch;
    // background-color: violet;
    // display: none;
    color: var(--color-text);
    visibility: hidden;
    // display: grid;
    // grid-template-rows: repeat(8, 1fr);
    display: flex;
    flex-direction: column-reverse;
    // align-items: center;
    justify-content: space-around;

    &.visible {
      visibility: visible;
    }

    display: none;
    @media (orientation: landscape) {
      display: flex;
    }
  }

  &__history-text {
    font-size: clamp(1rem, 4vmin, 1.5rem);
    text-align: right;
    // height: auto;
    // padding: 1ch;
    // line-height: 100%;
    // display: flex;
    // justify-content: end;
    // flex-direction: column;

    // justify-self: center;
    // vertical-align: middle;
    // display: block;
  }

  &__game-div {
    grid-row: 1 / 9;
    grid-column: 1 / 3;
    // justify-self: end;
    visibility: hidden;

    display: none;
    @media (orientation: landscape) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &.visible {
      visibility: visible;
    }
  }

  &__game-text {
    font-size: clamp(2rem, 5vmin, 4rem);
    font-weight: 800;
    text-align: right;
    color: var(--color-text);
    text-align: center;

    &.guess {
      // display: none;
      text-align: center;
    }

    &.score {
      display: none;
      // text-align: right;
      // visibility: hidden;
    }

    &.top-five {
      font-size: clamp(1rem, 4vmin, 2.5rem);
      text-align: left;
    }
  }

  &__bar {
    height: 2vmin;
    width: 100%;

    // display: block;
    background: var(--color-accent-one);
    // visibility: hidden;
    display: none;
    transition: width 1s linear;
    // bar animation with steps
    // animation: roundtime calc(var(--timer) * 1s) steps(var(--timer))
    //   forwards;
    // smooth bar animation
    // animation: roundtime calc(var(--timer) * 1s) linear forwards;
    // transform-origin: left center;
  }

  &__high-scores {
    // background-color: aqua;
    width: 100%;
    // margin: 0 auto;
  }

  &__top-score {
    display: flex;
    font-size: clamp(1rem, 4vmin, 2rem);
    color: var(--color-text);

    p {
      width: 50%;
      // border: 1px solid rgba(124, 124, 124, 0.1);
      padding-inline: 1rem;
    }
  }

  &__player-name {
    // text-align: right;
    text-align: center;
    align-self: center;
  }
  &__player-score {
    // text-align: left;
    // text-align: center;
    text-align: right;
    align-self: center;
  }

  &__btn {
    background-color: var(--color-accent-one);
    color: var(--color-back);
    margin: 0 auto;
    font-size: clamp(2rem, 6vmin, 2.5rem);
    padding: 1vmin 1.5vmin;
    // display: none;
  }

  // display: none;

  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // max-width: 100%;
}

// .round-time-bar {
//   // display: block;
//   // margin: 1rem;
//   // flex-grow: 1;
//   // overflow: hidden;
//   div {
//     // grid-row: 2 / 3;
//     height: 5vmin;
//     // width: 100%;
//     display: block;
//     background: var(--color-accent-one);

//     // bar animation with steps
//     // animation: roundtime calc(var(--duration) * 1s) steps(var(--duration))
//     //   forwards;

//     // smooth bar animation
//     animation: roundtime calc(var(--duration) * 1s) linear forwards;
//     transform-origin: left center;
//   }
// }
