.btns-container__btn {
  font-size: clamp(2rem, 6vmin, 3rem);
  color: var(--color-text);
  background-color: var(--color-back);
  position: relative;
  overflow: hidden;

  &.accent {
    color: var(--color-accent-one);
    font-size: clamp(3rem, 7vmin, 4.5rem);
  }

  &.equal {
    background-color: var(--color-accent-one);
    color: var(--color-back);
  }

  svg {
    margin-top: 0.75vmin;
    width: 35%;
    height: auto;
    fill: var(--color-accent-one);
  }
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(124, 124, 124, 0.35);
  pointer-events: none;
}
