.btns-container__btn {
  // border: 1px solid #999999;
  // aspect-ratio: 1; // square buttons
  // max-height: 100%;
  height: 20vmin;
  width: 20vmin;
  max-height: 13vh;
  // max-width: 13vh;
  font-size: 7vmin;
  color: var(--color-text);

  &.teal {
    color: var(--color-accent);
    font-size: 10vmin;
  }

  &.equal {
    background-color: var(--color-accent);
    color: var(--color-back);
    // border-radius: 50px;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 50%;
    // height: auto;
  }
}
