.checkbox {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(124, 124, 124, 0.1);

  @media (orientation: landscape) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  &__dark {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__voice {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__switch input {
    display: none;
  }

  &__text {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-text);
  }

  &__switch {
    display: inline-block;
    width: 4rem;
    height: 2rem;
    position: relative;
  }

  &__slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3rem;
    box-shadow: 0 0 0 2px var(--color-text), 0 0 4px var(--color-text);
    cursor: pointer;
    border: 4px solid transparent;
    overflow: hidden;
    transition: 0.4s;
  }

  &__slider:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--color-text);
    border-radius: 3rem;
    transform: translateX(-2rem);
    transition: 0.4s;
  }

  input:checked + .checkbox__slider:before {
    transform: translateX(2rem);
    background-color: var(--color-accent-one);
  }

  input:checked + .checkbox__slider {
    box-shadow: 0 0 0 2px var(--color-accent-one),
      0 0 8px var(--color-accent-one);
  }
}
